
@{
    ViewBag.Title = "PlcVirtualization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-min.js" integrity="sha512-ZuOjyqq409+q6uc49UiBF3fTeyRyP8Qs0Jf/7FxH5LfhqBMzrR5cwbpDA4BgzSo884w6q/+oNdIeHenOqhISGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>






<style>



    .led-red {
        margin: 0 auto;
        width: 6px;
        height: 6px;
        background-color: #F00;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
        /*-webkit-animation: blinkRed 0.5s infinite;
        -moz-animation: blinkRed 0.5s infinite;
        -ms-animation: blinkRed 0.5s infinite;
        -o-animation: blinkRed 0.5s infinite;
        animation: blinkRed 0.5s infinite;*/
    }

    .led-yellow {
        margin: 0 auto;
        width: 24p;
        height: 6px;
        background-color: #FF0;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
        /*-webkit-animation: blinkYellow 1s infinite;
        -moz-animation: blinkYellow 1s infinite;
        -ms-animation: blinkYellow 1s infinite;
        -o-animation: blinkYellow 1s infinite;
        animation: blinkYellow 1s infinite;*/
    }

    .led-green {
        margin: 0 auto;
        width: 6px;
        height: 6px;
        background-color: #ABFF00;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
        -webkit-animation: blinkGreen 1s infinite;
        /*-moz-animation: blinkGreen 1s infinite;
        -ms-animation: blinkGreen 1s infinite;
        -o-animation: blinkGreen 1s infinite;
        animation: blinkGreen 1s infinite;*/
    }

    @@-webkit-keyframes blinkGreen {
        from {
            background-color: #00FF00;
        }

        50% {
            background-color: #00FF00;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #00FF00 0 2px 0;
        }

        to {
            background-color: #01470e;
        }
    }

    @@-moz-keyframes blinkGreen {
        from {
            background-color: #00FF00;
        }

        50% {
            background-color: #00FF00;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #00FF00 0 2px 0;
        }

        to {
            background-color: #01470e;
        }
    }

    @@-ms-keyframes blinkGreen {
        from {
            background-color: #00FF00;
        }

        50% {
            background-color: #00FF00;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #00FF00 0 2px 0;
        }

        to {
            background-color: #01470e;
        }
    }

    @@-o-keyframes blinkGreen {
        from {
            background-color: #00FF00;
        }

        50% {
            background-color: #00FF00;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #00FF00) 0 2px 0;
        }

        to {
            background-color: #01470e;
        }
    }

    @@keyframes blinkGreen {
        from {
            background-color: #00FF00;
        }

        50% {
            background-color: #00FF00;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #00FF00 0 2px 0;
        }

        to {
            background-color: #01470e;
        }
    }



    @@-webkit-keyframes blinkRed {
        from {
            background-color: #F00;
        }

        50% {
            background-color: #A00;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
        }

        to {
            background-color: #F00;
        }
    }

    @@-moz-keyframes blinkRed {
        from {
            background-color: #F00;
        }

        50% {
            background-color: #A00;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
        }

        to {
            background-color: #F00;
        }
    }

    @@-ms-keyframes blinkRed {
        from {
            background-color: #F00;
        }

        50% {
            background-color: #A00;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
        }

        to {
            background-color: #F00;
        }
    }

    @@-o-keyframes blinkRed {
        from {
            background-color: #F00;
        }

        50% {
            background-color: #A00;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
        }

        to {
            background-color: #F00;
        }
    }

    @@keyframes blinkRed {
        from {
            background-color: #F00;
        }

        50% {
            background-color: #A00;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
        }

        to {
            background-color: #F00;
        }
    }



    @@-webkit-keyframes blinkYellow {
        from {
            background-color: #FF0;
        }

        50% {
            background-color: #AA0;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
        }

        to {
            background-color: #FF0;
        }
    }

    @@-moz-keyframes blinkYellow {
        from {
            background-color: #FF0;
        }

        50% {
            background-color: #AA0;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
        }

        to {
            background-color: #FF0;
        }
    }

    @@-ms-keyframes blinkYellow {
        from {
            background-color: #FF0;
        }

        50% {
            background-color: #AA0;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
        }

        to {
            background-color: #FF0;
        }
    }

    @@-o-keyframes blinkYellow {
        from {
            background-color: #FF0;
        }

        50% {
            background-color: #AA0;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
        }

        to {
            background-color: #FF0;
        }
    }

    @@keyframes blinkYellow {
        from {
            background-color: #FF0;
        }

        50% {
            background-color: #AA0;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
        }

        to {
            background-color: #FF0;
        }
    }





    body {
        background-image: url("http://localhost:57778/Images/lab.jfif");
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    .btnright {
        padding-left: 80px;
        border: hidden;
        background-color: white;
    }

    .dimension {
        transform: perspective(1500px) rotateY(20deg);
        transform-style: preserve-3d;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        transition: transform 1s ease 0s;
    }
    }
</style>


<body>
    <h2 style="text-align:center;color:white;"><span>Siemens lab view </span></h2>
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="col-sm-3">

                <h3><span class="dimension" style=" text-align:center;color:white;border:ridge;"> Rack 1 </span></h3>
                <br />
                <div class="jumbotron dimension" style="background-color:darkslategrey; border:ridge;">
                
                    <div class=" row jumbotron" style="height:1000px; border:ridge; border-color:cadetblue;background-color:white;">

                        <div class="row">
                            <div id="Rack1_Plc1_green1" class="led-green btn pull-left"></div>
                            <div id="Rack1_Plc1_yellow1" class="led-yellow btn pull-left"></div>
                            <div id="Rack1_Plc1_red1" class="led-red btn pull-left"></div>



                            <div class="led-red btn pull-right"></div>
                            <div class="led-yellow btn pull-right"></div>
                            <div class="led-green btn pull-right"></div>
                        </div>
                        <div class="row" style="border:double; background-color:white;">
                            <button id="Rack1_Plc1" class="btn pull-left" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal" style="background-color:white;">
                                <img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                            </button>
                            <button id="Rack1_Plc2" class=" btn btnright" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal"><img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" /></button>

                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="row">
                            <div class="led-green btn pull-left"></div>
                            <div class="led-yellow btn pull-left"></div>
                            <div class="led-red btn pull-left"></div>



                            <div class="led-red btn pull-right"></div>
                            <div class="led-yellow btn pull-right"></div>
                            <div class="led-green btn pull-right"></div>
                        </div>
                        <div class="row" style="border:double; background-color:white;">

                            <button id="Rack1_Plc3" class="btn pull-left" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal" style="background-color:white;">
                                <img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                            </button>
                            <button id="Rack1_Plc4" class=" btn btnright" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal"><img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" /></button>

                        </div>

                        <br />
                        <br />
                        <br />
                        <div class="row">
                            <div class="led-green btn pull-left"></div>
                            <div class="led-yellow btn pull-left"></div>
                            <div class="led-red btn pull-left"></div>



                            <div class="led-red btn pull-right"></div>
                            <div class="led-yellow btn pull-right"></div>
                            <div class="led-green btn pull-right"></div>
                        </div>
                        <div class="row" style="border:double; background-color:white;">

                            <button id="Rack1_Plc5" class="btn pull-left" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal" style="background-color:white;">
                                <img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                            </button>
                            <button id="Rack1_Plc6" class=" btn btnright" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal"><img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" /></button>

                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="row">
                            <div class="led-green btn pull-left"></div>
                            <div class="led-yellow btn pull-left"></div>
                            <div class="led-red btn pull-left"></div>



                            <div class="led-red btn pull-right"></div>
                            <div class="led-yellow btn pull-right"></div>
                            <div class="led-green btn pull-right"></div>
                        </div>
                        <div class="row" style="border:double; background-color:white;">

                            <button id="Rack1_Plc7" class="btn pull-left" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal" style="background-color:white;">
                                <img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                            </button>
                            <button id="Rack1_Plc8" class=" btn btnright" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal"><img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" /></button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">

                <h3><span class="dimension" style=" text-align:center;color:white;border:ridge;"> Rack 2 </span></h3>
                <br />
                <div class="jumbotron dimension" style="background-color:darkslategrey; border:ridge;">
                    @*<div class="led-box">
                    <div class="led-green"></div>
                    <div class="led-yellow"></div>
                    <div class="led-red"></div>
                    <p>Green LED</p>
                </div>*@
                    <div class=" row jumbotron" style="height:1000px; border:ridge; border-color:cadetblue;background-color:white;">

                        <div class="row">
                            <div class="led-green btn pull-left"></div>
                            <div class="led-yellow btn pull-left"></div>
                            <div class="led-red btn pull-left"></div>



                            <div class="led-red btn pull-right"></div>
                            <div class="led-yellow btn pull-right"></div>
                            <div class="led-green btn pull-right"></div>
                        </div>
                        <div class="row" style="border:double; background-color:white;">
                            <button id="Rack1_Plc1" class="btn pull-left" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal" style="background-color:white;">
                                <img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                            </button>
                            <button id="Rack1_Plc2" class=" btn btnright" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal"><img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" /></button>

                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="row">
                            <div class="led-green btn pull-left"></div>
                            <div class="led-yellow btn pull-left"></div>
                            <div class="led-red btn pull-left"></div>



                            <div class="led-red btn pull-right"></div>
                            <div class="led-yellow btn pull-right"></div>
                            <div class="led-green btn pull-right"></div>
                        </div>
                        <div class="row" style="border:double; background-color:white;">

                            <button id="Rack1_Plc3" class="btn pull-left" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal" style="background-color:white;">
                                <img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                            </button>
                            <button id="Rack1_Plc4" class=" btn btnright" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal"><img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" /></button>

                        </div>

                        <br />
                        <br />
                        <br />
                        <div class="row">
                            <div class="led-green btn pull-left"></div>
                            <div class="led-yellow btn pull-left"></div>
                            <div class="led-red btn pull-left"></div>



                            <div class="led-red btn pull-right"></div>
                            <div class="led-yellow btn pull-right"></div>
                            <div class="led-green btn pull-right"></div>
                        </div>
                        <div class="row" style="border:double; background-color:white;">

                            <button id="Rack1_Plc5" class="btn pull-left" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal" style="background-color:white;">
                                <img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                            </button>
                            <button id="Rack1_Plc6" class=" btn btnright" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal"><img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" /></button>

                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="row">
                            <div class="led-green btn pull-left"></div>
                            <div class="led-yellow btn pull-left"></div>
                            <div class="led-red btn pull-left"></div>



                            <div class="led-red btn pull-right"></div>
                            <div class="led-yellow btn pull-right"></div>
                            <div class="led-green btn pull-right"></div>
                        </div>
                        <div class="row" style="border:double; background-color:white;">

                            <button id="Rack1_Plc7" class="btn pull-left" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal" style="background-color:white;">
                                <img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                            </button>
                            <button id="Rack1_Plc8" class=" btn btnright" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal"><img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" /></button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">

                <h3><span class="dimension" style=" text-align:center;color:white;border:ridge;"> Rack 3 </span></h3>
                <br />
                <div class="jumbotron dimension" style="background-color:darkslategrey; border:ridge;">
                    @*<div class="led-box">
                    <div class="led-green"></div>
                    <div class="led-yellow"></div>
                    <div class="led-red"></div>
                    <p>Green LED</p>
                </div>*@
                    <div class=" row jumbotron" style="height:1000px; border:ridge; border-color:cadetblue;background-color:white;">

                        <div class="row">
                            <div class="led-green btn pull-left"></div>
                            <div class="led-yellow btn pull-left"></div>
                            <div class="led-red btn pull-left"></div>



                            <div class="led-red btn pull-right"></div>
                            <div class="led-yellow btn pull-right"></div>
                            <div class="led-green btn pull-right"></div>
                        </div>
                        <div class="row" style="border:double; background-color:white;">
                            <button id="Rack1_Plc1" class="btn pull-left" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal" style="background-color:white;">
                                <img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                            </button>
                            <button id="Rack1_Plc2" class=" btn btnright" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal"><img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" /></button>

                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="row">
                            <div class="led-green btn pull-left"></div>
                            <div class="led-yellow btn pull-left"></div>
                            <div class="led-red btn pull-left"></div>



                            <div class="led-red btn pull-right"></div>
                            <div class="led-yellow btn pull-right"></div>
                            <div class="led-green btn pull-right"></div>
                        </div>
                        <div class="row" style="border:double; background-color:white;">

                            <button id="Rack1_Plc3" class="btn pull-left" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal" style="background-color:white;">
                                <img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                            </button>
                            <button id="Rack1_Plc4" class=" btn btnright" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal"><img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" /></button>

                        </div>

                        <br />
                        <br />
                        <br />
                        <div class="row">
                            <div class="led-green btn pull-left"></div>
                            <div class="led-yellow btn pull-left"></div>
                            <div class="led-red btn pull-left"></div>



                            <div class="led-red btn pull-right"></div>
                            <div class="led-yellow btn pull-right"></div>
                            <div class="led-green btn pull-right"></div>
                        </div>
                        <div class="row" style="border:double; background-color:white;">

                            <button id="Rack1_Plc5" class="btn pull-left" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal" style="background-color:white;">
                                <img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                            </button>
                            <button id="Rack1_Plc6" class=" btn btnright" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal"><img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" /></button>

                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="row">
                            <div class="led-green btn pull-left"></div>
                            <div class="led-yellow btn pull-left"></div>
                            <div class="led-red btn pull-left"></div>



                            <div class="led-red btn pull-right"></div>
                            <div class="led-yellow btn pull-right"></div>
                            <div class="led-green btn pull-right"></div>
                        </div>
                        <div class="row" style="border:double; background-color:white;">

                            <button id="Rack1_Plc7" class="btn pull-left" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal" style="background-color:white;">
                                <img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                                <img src="~/Images/di.png" style="height:70px;" />
                            </button>
                            <button id="Rack1_Plc8" class=" btn btnright" onclick="fnGetplcInfos()" data-toggle="modal" data-target="#myModal"><img src="~/Images/s71500PLC.png" style="width:70px;height:70px;" /></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog" id="modalDialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Plc Details</h4>
                    </div>
                    <div class="modal-body" style="font-family:Calibri;font-size:18px;">
                        <label>Plc Ipaddress</label>
                        <input type="text" id="txtIpaddress" />
                        <br />
                        <label>Plc Mac Address</label>
                        <input type="text" id="txtMac_Address" />
                        <br />
                        <label>Plc State</label>
                        <input type="text" id="txtState" />
                        <br />
                        <label>Plc Type</label>
                        <input type="text" id="txtType" />
                        <br />
                        <label>Plc Name</label>
                        <input type="text" id="txtName" />
                        <br />
                        <label>Plc Serial No</label>
                        <input type="text" id="txtSerialNo" />
                        <br />
                        <label>Firmware</label>
                        <input type="text" id="txtFirmware" />
                        <br />
                        <label>Mlfb</label>
                        <input type="text" id="txtMlfb" />
                        <br />
                        <label>SMC Serial No</label>
                        <input type="text" id="txtSMCSerialNo" />
                        <br />
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>@*Modal_Ends*@
        </div>
    </div>





</body>




<script type="text/javascript">
    var plcData = []; var button_Id = "";
    $(document).ready(function () {

        GetData();



        var element = document.getElementById("Rack1_Plc1_red1");
        element.style.webkitAnimation = "blinkRed 1s infinite";


        var element = document.getElementById("Rack1_Plc1_green1");
        element.style.animation = "";
        element.style.webkitAnimation = "";

        
    });

     function GetData() {
         $.getJSON("@Url.Action("GetPlcdata", "PlcVirtualization")", { plcid: '1' }, function (data) {
                if (data) {
                    plcData = data;
                }
         });


       
        }
    $(".btn ").click(function () {
       
        debugger;

        button_Id = this.id;
        var array = button_Id.split('_');
        var rackNo = array[0].replace("Rack", "");
        var plcNo = array[1].replace("Plc", "");


        var _plcinfo = _.filter(plcData, function (item) {

            return item.PlcId === parseInt(plcNo);
        });
       
     




        document.getElementById('txtIpaddress').value = _plcinfo[0].IpAddress;
        document.getElementById('txtMac_Address').value = _plcinfo[0].Mac_Address;
        document.getElementById('txtState').value = _plcinfo[0].Operating_State;
        document.getElementById('txtType').value = _plcinfo[0].PLC_Type;
        document.getElementById('txtName').value = _plcinfo[0].PLC_Name;
        document.getElementById('txtSerialNo').value = _plcinfo[0].Plc_SerialNo;
        document.getElementById('txtFirmware').value = _plcinfo[0].Firmware;
        document.getElementById('txtMlfb').value = _plcinfo[0].Mlfb;
        document.getElementById('txtSMCSerialNo').value = _plcinfo[0].SMC_SerialNo;
    });
    function fnGetplcInfos() {
       
    }

</script>