@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <div class="row" style="background-color:cadetblue;text-align: left;color:white;">
      
                    <h1>Project Management and Lab Virtualization</h1>
                    @*<p class="lead">Project Management and Lab Virtualization</p>*@
                    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
               
    </div>
</div>

<div class="container-fluid" style="padding-top:50px;">
    <div class="row">
        <div class="col-md-4 thumbnail">
            @*<h2>Lab View</h2>*@
            <a href="#">
                <img src="~/Images/Labview.jpg" style="height:318px;width:600px;" />
                @*<p>
                        Unables a virtual tour of lab with exact replica of plc racks placed inside lab
                    </p>*@
                <br />
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </a>
        </div>
        <div class="col-md-4 thumbnail">
            @*<h2>Asset Management</h2>*@
            <a href="#">
                <img src="~/Images/assets.jpg" style="height:318px;width:600px;" />
                @*<p>Complete Integrated solution for assets Management</p>*@
                <br />
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </a>
        </div>
        <div class="col-md-4 thumbnail">
            @*<h2>WishList</h2>*@
            <a href="#">
                <img src="~/Images/wishlist.png" style="height:318px;width:600px;" />
                @*<p>Enables to share resorces</p>*@
                <br />
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </a>
        </div>
    </div>
    
</div>